body, .body{
  background-co/*color: #525252*/lor: black !important;
  font-style: italic;
/*color: #525252*/
background: url("s.jpg")

}

.jumbotron{
  background=color: purple
}
.container { background-color: rgb(182, 57, 169)

}
Img{
  left:500px;

}
