body, .body{
  background-co/*color: #525252*/lor: black !important;
  font-style: italic;
/*color: #525252*/
background: url("s.jpg")

}

.jumbotron{
color: black;
float: right;
align-items: stretch;
}

.yeey
{
  color: )
}
.oo{
  color: yellow;
align-self: flex-end;
}
.t{
  color: rgb(97, 90, 93)
}
